*{
    font-family:sans-serif;
	/* margin: 0; */
    /* padding: 0; */
    /* box-sizing: border-box; */
}

main{
    padding: 3%;
    color: white;
    text-align: justify;
}

body{
    background-color: #1E1E1E;
    /*position: relative;*/

    /* padding-left: 10%; */
    /* padding-right: 10%; */
    /* padding-top: 140px; */
	/* padding-top: 0; */
	/* margin: 0; */
	/* margin-top: 0; */
	/* margin: 1em; */
	/* margin-top: 0; */
}

/* h1{ */
    /* position: relative; */
    /* top: 0; */
/* } */

center > a{
    text-decoration: none;
    color:#00FFDD;
}

.old{
    color:white;
}

article{
    text-align: justify;
}

ul {
    list-style-type: none;
    
    padding: 0;
    overflow: hidden;
    font-weight: bold;
    width: max-content;
    margin: auto;
}

h1 {
	margin-top: 0;
}

li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


/*---------------------------*/
/*    selectores de clase    */
/*---------------------------*/


.cabecera{
    width: 100%;
    /* position: fixed; */
    top: 0;
    /* background-color: #ff0062; */
    /*box-shadow: 5px 5px 11px black;*/
	
	/* de aquí: https://www.magicpattern.design/tools/css-backgrounds */
	background-color: #ff0062;
	opacity: 1;
	background: radial-gradient(circle, transparent 20%, #ff0062 20%, #ff0062 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ff0062 20%, #ff0062 80%, transparent 80%, transparent) 25px 25px, linear-gradient(#000000 2px, transparent 2px) 0 -1px, linear-gradient(90deg, #000000 2px, #ff0062 2px) -1px 0;
	background-size: 50px 50px, 50px 50px, 25px 25px, 25px 25px;
}

.pie{
    width: 100%;
    /*position: fixed;*/
    bottom: 0;
    /* background-color: #1E1E1E; */
    text-align: right;
    /* margin: auto; */
    /* color: #ff0062;    */
}

.icono{
    width: 14px;
    margin-top: auto;
    margin-bottom: auto;
}

.imagen{
    max-width:100%;
    max-height:100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.menu{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,45,94,1) 100%);
}

.active {
    background-color: #1E1E1E;
}

